.humidity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 50px;
  gap: 12px;

  width: 32%;
  height: 400px;

  /* Pure */

  background: #ffffff;
  box-shadow: 0px 1px 8px rgba(110, 110, 110, 0.1);
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.humidity {
  display: flex;
  align-items: center;
}

.humidity > img {
  min-width: 155px;
  min-height: 155px;
  margin-left: 20px;
}

.humidity-reading {
  margin-top: 2em;
}
